.cursor {
  border-radius: 50%;
  position: fixed;
  z-index: 10000;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%);
  background-color: $btw-black;
  pointer-events: none;

  transition: width 0.3s, height 0.3s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);

  &.focus-cursor {
    width: calc(40px / 2);
    height: calc(40px / 2);
    transform: translate(-50%, -50%);
  }
}

.cursor-tail {
  position: fixed;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  height: 15px;
  width: 15px;
  background-color: $btw-black;
  transform: translate(-50%, -50%);
  transition: opacity 0.1s;
  transition-timing-function: ease-in-out;
  pointer-events: none;
  &.focus-cursor {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
}
