.cursor {
  border-radius: 50%;
  position: fixed;
  z-index: 10000;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%);
  background-color: $btw-black;
  pointer-events: none;

  transition: width 0.3s, height 0.3s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);

  &.focus-cursor {
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
  }
}

.cursor-tail {
  position: fixed;
  border-radius: 50%;
  position: fixed;
  z-index: 10000;
  height: 20px;
  width: 20px;
  background-color: $btw-black;
  transform: translate(-50%, -50%);
  transition: opacity 0.1s;
  transition-timing-function: ease-in-out;
  pointer-events: none;
  &.focus-cursor {
    opacity: 0;
  }
}
