.news {
  // background: url(../img/grain.png) 10px 10px repeat,
  //   radial-gradient(50% 100% at 50% 50%, $btw-pink 0%, $btw-green 100%);
  background-size: contain;
  background-color: $btw-black;
  background-position: center;
  background-blend-mode: overlay;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 35px;
  .clock {
    height: map-get($font-size-h2, "desktop") !important;
    color: white;
    @include font(400, map-get($font-size-h2, "desktop"), 1, -6.4);
    font-family: $font-Mono !important;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .clock::before,
  .clock::after {
    content: "";
    width: 100%;
    height: 10%;
    background: linear-gradient(to top, transparent, black);
    position: absolute;
    z-index: 2;
  }

  .clock::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, black);
  }

  .clock > div {
    display: flex;
  }

  .tick-hidden {
    opacity: 0;
  }

  @media screen and (max-width: 768px) {
    .clock {
      font-size: calc(map-get($font-size-h2, "mobile") / 1.5) !important;
      height: map-get($font-size-h2, "mobile") !important;
    }
  }

  .move {
    animation: move linear 1s infinite;
  }

  @keyframes move {
    from {
      transform: translateY(0vh);
    }
    to {
      transform: translateY(-20vh);
    }
  }
  span {
    color: $btw-white;
    opacity: 0.5;
  }
}

.partner {
  padding: 70px 35px 0;
  overflow: hidden;
  h3 {
    margin-bottom: 50px;
  }
  .partner-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    width: 100%;
    animation: transLogo linear 10s infinite;
    img {
      width: 100%;
      max-width: 150px;
    }
    @keyframes transLogo {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-89%);
      }
    }
  }
}
