.news {
  background: url(../img/good-things-take-time.webp) center / cover no-repeat;

  height: calc(100vh / 5 * 3);
  color: $btw-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  position: relative;
  font-size: map-get($font-size-h2, "tablet");
  font-family: $font-serif;
  span {
    margin: 15px 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .news {
    background: url(../img/good-things-take-time-mobile.webp) center / cover
      no-repeat !important ;
    .placeholder {
      font-size: calc(map-get($font-size-h2, "mobile") / 2) !important;
    }
  }
  .partner {
    .partner-list {
      gap: 20px !important;
      img {
        width: 25% !important;
      }
    }
  }
}

@media screen and (min-width: 465px) and (max-width: 1024px) {
  .news {
    font-size: calc(map-get($font-size-h2, "tablet") / 1.5) !important;
  }
}

.partner {
  padding: 70px 35px 0;

  h3 {
    margin-bottom: 50px;
  }

  .partner-list {
    display: flex;
    justify-content: center;

    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;

    img {
      max-width: 200px;
      width: 20%;
      object-fit: cover;
    }
  }
}

.volatile {
  font-size: map-get($font-size-span-em, "tablet");
  font-family: "Manrope";
}
