.lost-canva {
  overflow: hidden;
  overscroll-behavior: none;
  height: 100vh;
  background-color: $btw-black;
  color: $btw-white;
  padding: 22px 35px;
  user-select: none;
  .back {
    position: fixed;
    top: 22px;
    right: 35px;
    z-index: 100;
    transition: transform 0.3s;
    font-size: map-get($font-size-span-em, "desktop");
    &:hover {
      transform: scale(1.1);
      color: $btw-pink;
    }
  }
  h3 {
    width: calc(100% / 12 * 7);
    font-size: map-get($font-size-span-em, "desktop");
    em {
      font-style: normal;
      opacity: 0.25;
      font-size: inherit;
    }
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
