/* ====================================
// CSS Variables
// ==================================== */

// BTW colors
$btw-black: #000;
$btw-white: #fff;
$btw-pink: #ff5f9b;
$btw-green: #004c26;

// aiaiai colors
$ai-green: #72ff78;

// Font sizes
$font-size-p: (
  "desktop": 1rem,
  "mobile": 1rem,
  "tablet": 1rem,
);

$font-size-h2: (
  "desktop": 8rem,
  "mobile": 3rem,
  "tablet": 5rem,
);

$font-size-h3: (
  "desktop": 3rem,
  "mobile": 2rem,
  "tablet": 2.5rem,
);

$font-size-span-em: (
  "desktop": 2.25rem,
  "mobile": 1.25rem,
  "tablet": 2rem,
);

// Mixin for font styles
@mixin font($weight, $size, $line-height, $letter-spacing: -1.2px) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

// Fonts
$font-base: "Manrope", sans-serif;
$font-Mono: "GT America Mono", monospace;
$font-serif: "STIX Two Text", serif;

/* ====================================
// Reset Rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
  &::selection {
    background-color: $btw-black;
    color: $btw-white;
  }
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: none;
  @include font(inherit, inherit, inherit, inherit);
  font-family: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// Base Rules
// ==================================== */

.lobster {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10000;
  @include font(600, 36px, 1.5, -1.4);
  font-family: $font-base;
  &:hover {
    animation: wiggle 0.1ms infinite linear;
  }
  @keyframes wiggle {
    0% {
      transform: rotate(0deg) scale(1.1);
    }
    25% {
      transform: rotate(-10deg) scale(1);
    }
    50% {
      transform: rotate(0deg) scale(1.1);
    }
    75% {
      transform: rotate(10deg) scale(1.2);
    }
    100% {
      transform: rotate(0deg) scale(1.1);
    }
  }
}

@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
  $font-size-h1: 4rem;
  $font-size-h2: 4rem;
  $font-size-h3: 2rem;
  $font-size-span-em: 1.5rem;
  $font-size-p: 1rem;
}

/* ====================================
// Media Queries
// ==================================== */

@mixin media($breakpoint) {
  @if $breakpoint == "mobile" {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media screen and (min-width: 1025px) {
      @content;
    }
  }
}

h1 {
  @include font(500, map-get($font-size-h2, "desktop"), 1, -2.4);
  font-family: $font-base;
}

h2 {
  @include font(500, map-get($font-size-h2, "desktop"), 1, -2.4);
  font-family: $font-base;
}

h3 {
  @include font(500, map-get($font-size-h3, "desktop"), 1, -1);
  font-family: $font-base;
}

span {
  @include font(600, map-get($font-size-span-em, "desktop"), 1, normal);
  font-family: $font-serif;
  color: $btw-pink;
}

p {
  @include font(500, map-get($font-size-p, "desktop"), 1, auto);
  font-family: $font-base;
}

@include media("mobile") {
  h1 {
    @include font(500, map-get($font-size-h2, "mobile"), 1, -2.4);
  }
  h2 {
    @include font(500, map-get($font-size-h2, "mobile"), 1, -2.4);
  }
  h3 {
    @include font(500, map-get($font-size-h3, "mobile"), 1, -1);
  }
  span {
    @include font(600, map-get($font-size-span-em, "mobile"), 1, normal);
  }
  p {
    @include font(500, map-get($font-size-p, "mobile"), 1, -2.4);
  }
}

@include media("tablet") {
  h1 {
    @include font(500, map-get($font-size-h2, "tablet"), 1, -6.4);
  }
  h2 {
    @include font(500, map-get($font-size-h2, "tablet"), 1, -6.4);
  }
  h3 {
    @include font(500, map-get($font-size-h3, "tablet"), 1, -2.4);
  }
  span {
    @include font(600, map-get($font-size-span-em, "tablet"), 1, normal);
  }
  p {
    @include font(500, map-get($font-size-p, "tablet"), 1, -2.4);
  }
}
