/* ====================================
// css variables
// ==================================== */
//======>> BTW colros <<======//
$btw-black: #000;
$btw-white: #fff;
$btw-pink: #ff5f9b;
$btw-green: #004c26;

//======>> aiaiai colors <<======//
$ai-green: #72ff78;

//======>> Font sizes <<======//

$font-size-p: (
  "desktop": 1.5rem,
  "mobile": 1rem,
  "tablet": 1.25rem,
);

$font-size-h2: (
  "desktop": 8rem,
  "mobile": 4rem,
  "tablet": 5rem,
);
$font-size-h3: (
  "desktop": 3rem,
  "mobile": 2rem,
  "tablet": 2.5rem,
);
$font-size-span-em: (
  "desktop": 2.25rem,
  "mobile": 1.25rem,
  "tablet": 2rem,
);

@mixin font($weight, $size, $line-height, $letter-spacing: -1.2px) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

$font-base: "GT America", sans-serif;
$font-base-Md: "GT America Md", sans-serif;
$font-Mono: "GT America Mono", monospace;
$font-italic: "HAL Timezone italic", serif;

* {
  cursor: none !important;
}

h1 {
  @include font(400, map-get($font-size-h2, "desktop"), 1.5, -6.4);
  font-family: $font-base-Md;
}

h2 {
  @include font(400, map-get($font-size-h2, "desktop"), 1.5, -6.4);
  font-family: $font-base;
}

h3 {
  @include font(400, map-get($font-size-h3, "desktop"), 1.5, -2.4);
  font-family: $font-base;
}

span {
  @include font(700, map-get($font-size-span-em, "desktop"), 1.5, normal);
  font-family: $font-italic;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
.lobster {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10000;
  @include font(400, 36px, 1.5, -2.4);
  font-family: $font-base;
  &:hover {
    animation: wiggle 0.1ms infinite linear;
  }
  @keyframes wiggle {
    0% {
      transform: rotate(0deg) scale(1.1);
    }
    25% {
      transform: rotate(-10deg) scale(1);
    }
    50% {
      transform: rotate(0deg) scale(1.1);
    }
    75% {
      transform: rotate(10deg) scale(1.2);
    }
    100% {
      transform: rotate(0deg) scale(1.1);
    }
  }
}

@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
  $font-size-h1: 4rem;
  $font-size-h2: 4rem;
  $font-size-h3: 2rem;
  $font-size-span-em: 1.5rem;
  $font-size-p: 1rem;
}
