@import "base";
@import "layout";
@import "modules/roller";
@import "modules/cursor";
@import "modules/home";
@import "modules/footer";
@import "modules/lost";

//======>> Fonts <<======//
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Variable.woff2);
}

@font-face {
  font-family: "GT America Mono";
  src: url(../fonts/GT-America-Mono-Regular-Trial.woff2);
}

@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
